---
import Title from '@/components/pokemons/shared/Title.astro'
import MainLayout from '@/layouts/MainLayout.astro'
---

<MainLayout title="Favorites">
  <Title>Pokemones Favoritos</Title>
  <p>Favorites</p>
</MainLayout>
