---
import { ViewTransitions } from 'astro:transitions'

interface Props {
  title?: string
  image?: string
  description?: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="m-auto max-w-3xl bg-slate-800 text-slate-100">
    <slot />
  </body>
</html>
